
<section class="section">
 <div class="container">
  <div class="level-center">
    <div class="level-item">
      <figure class="image blogIcon is-128x128">
        <%= image_tag "blog.png" %>
      </figure>
    </div>
    <div class="level-item">
    <button class="button"><%= link_to 'Login', controller: 'articles' %></button>
    </div>
  </div>
 </div>
</section>
